.auth-layout {
  min-height: 100vh;
  background: #f0f0f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  &__card {
    background: var(--color-surface);
    border-radius: var(--radius-xl);
    width: 100%;
    max-width: 500px;
    padding: 48px 48px 56px;
    box-shadow: var(--shadow-lg);
  }
}
