# Dependencias Node (Angular / frontend)
node_modules/
frontend/node_modules/

# Salida de build frontend
frontend/dist/
frontend/.angular/

# Build backend Java
backend/target/

# Entornos y secretos locales
.env
.env.*.local
*.local
.env.example

# IDE / OS
.idea/
*.iml
.DS_Store

.scannerwork/
report-task.txt
frontend/.eslintcache
