.dash-est {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    h1 { font-size: 1.8rem; font-weight: 800; }
    p { font-size: 0.82rem; margin-top: 4px; }
  }
}
